
<div style="text-align:center">
  <div class='titletext'>
    <h1>Welcome to {{ title }}!</h1>
  <div>
  <div class='bodytext'>
    <p>Thanks for coming to my page! I've been a contractor for many years, and I've seen every tool there is. This is my shed, and I hope you find what you need. Custom tools are also available upon request.</p>
  </div>
</div>
<img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiWnZH9yc3YAhXQ21MKHVfUDk8QjRwIBw&url=http%3A%2F%2Fmikerowe.com%2F&psig=AOvVaw3GVu9aKcRGy352jwDYXcI1&ust=1515679874338165" alt="Tom" />
<app-products></app-products>
